ul#CategoryFiles {
  height: expression(document.body.offsetHeight - 23);
}

div.CategoryFileIcon {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/webdoc.png',sizingMethod='crop');
}