html, body {
  width: 100%;
  height: 100%;
}

body {
  font: 12px "Lucida Grande", Arial, sans-serif;
  background: rgb(189, 189, 189) url('../img/webdoc.png') no-repeat;
  background-size: contain;
  background-position: 100%;
  color: rgb(50, 50, 50);
  margin: 0;
  padding: 0;
}

ul#CategoryFiles {
  position: absolute;
  top: 0;
  bottom: 22px;
  left: 0;
  width: 300px;
  border-bottom: 1px solid rgb(64, 64, 64);
  border-right: 1px solid rgb(64, 64, 64);
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

li.CategoryFile {
  clear: both;
  padding: 5px 5px 10px 5px;
  min-height: 48px;
  width: 290px;
}

li.CategoryFile h5 {
  font: normal 12px "Lucida Grande", Arial, sans-serif;
  margin: 0;
}

div.CategoryFileIcon {
  float: left;
  width: 48px;
  height: 48px;
  background: url('../img/webdoc.png') no-repeat;
  background-size: contain;
}

h5.CategoryFileTitle, div.CategoryFilePath {
  padding-left: 55px;
}

li.CategoryFileSelected {
  background: rgb(24, 67, 243) url('../../../Images/Backgrounds/Selected Item.png') repeat-x bottom;
  color: white;
}

li.CategoryFileSelected a {
  color: lightblue;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  ul#CategoryFiles {
    height: expression(document.body.offsetHeight - 23);
  }

  div.CategoryFileIcon {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/webdoc.png',sizingMethod='crop');
  }
}

@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */ 
  ul#CategoryFiles {
    height: expression(document.body.offsetHeight - 23);
  }

  div.CategoryFileIcon {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/webdoc.png',sizingMethod='crop');
  }
}